<!DOCTYPE html>
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/lang -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:image/svg+xml,
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>
      <text y='.9em' font-size='90'>🌍</text>
    </svg>
  ">
  <!--
  <link rel="icon" href="images/favicon.png" type="image/png"/>
  -->
  <link rel="stylesheet" href="main.css">
  <script src="main.js"></script>
  <title>Tiny HTML</title>
</head>

<body>
  <h1>Tiny Website</h1>
</body>

</html>
