/*
https://github.com/cdnjs

https://loli.net
https://cdnjs.loli.net
https://cdnjs.loli.net/README.md

https://www.bootcdn.cn
https://www.jsdelivr.com

https://developers.google.cn/fonts/docs/getting_started
https://mirrors.tuna.tsinghua.edu.cn/github-release/googlefonts

原域名                          加速域名            备注
cdnjs.cloudflare.com            cdnjs.loli.net      每日同步 Github
ajax.googleapis.com             ajax.loli.net       反向代理 Nginx
fonts.googleapis.com            fonts.loli.net      反向代理 Nginx
fonts.gstatic.com               gstatic.loli.net    反向代理 Nginx
themes.googleusercontent.com    themes.loli.net     反向代理 Nginx
secure.gravatar.com             gravatar.loli.net   反向代理 Nginx
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 15px;
  font-size: 2em;
  font-weight: 400; /* 400=regular */
  font-family: Oxygen-Sans, Roboto, Ubuntu, sans-serif;
  background-color: #D9D9DE; /* 灰色: 浅=D9D9DE 中=BDBDC6 深=AFAFB7*/
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* .XXX 对应 class 可多次引用, #XXX 对应 id 仅可用一次 */
